// Colors
$clr1: #0b0b0b;
$clr2: #092f32;
$clr3: #4d4d4d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
